[Desktop Entry]
Version=1.0
Type=Application
Name=Nexus Manager
Comment=Linux-native Nexus Mods manager
Exec=nexus-manager %u
Icon=nexus-manager
Terminal=false
Categories=Game;Utility;
MimeType=x-scheme-handler/nxm;
StartupWMClass=nexus-manager
